.counter-component{
  position: fixed;
  top: 3rem;
  right: 3rem;
  text-align: right;
  font-size: 1.3rem;
  font-weight: bold;

  .counter{
    &__success{
      color: $success-color;
    }

    &__error{
      color: $danger-color;
    }
  }
}