$black-color: #000000;
$primary-color: #00B8DE;
$secondary-color: #FFB600 ;
$danger-color: #F74545 ;
$success-color: #45E125;
$gray-color: #484848;

$lom-size: 50px;
$border-width: 3px;
$component-width: 400px;

$font-secondary: 'Press Start 2P', monospace;